{% extends 'layout.html' %}
{% block content %}


<div class="luffy-container">

    <div class="alert alert-danger" role="alert">
        <form action="" method="post">
            {% csrf_token %}
            <p style="font-size: 13px;">
                <i class="fa fa-warning" aria-hidden="true"></i>
                删除后不可恢复，请确认是否删除
            </p>
            <div style="margin-top: 20px">
                <a href="{{ cancel }}" class="btn btn-default btn-sm">取 消</a>
                <button type="submit" class="btn btn-danger btn-sm">确 认</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}